# Auto detect text files and perform LF normalization
* text=auto
Navi[[:space:]]Assistant filter=lfs diff=lfs merge=lfs -text
Navi[[:space:]]Assistant/Library/Bee/** filter=lfs diff=lfs merge=lfs -text
Navi[[:space:]]Assistant/Assets/Firebase/Plugins/x86_64 filter=lfs diff=lfs merge=lfs -text
Navi[[:space:]]Assistant/Assets/Firebase/Plugins/x86_64/** filter=lfs diff=lfs merge=lfs -text
